<footer>
    <div class="row">
        <div class="col-sm-6">
            <h5>Contact Us</h5>
            <ul style="list-style-type:none;">
                <li>
                    <b>Athletic Palace Nepal</b>
                </li>
                <li>
                    Email:
                    <a href style="color: aliceblue">athleticpalacenepal@gmail.com</a>
                </li>
                <li>
                    Phone:
                    <a href style="color: aliceblue">056-593173</a>
                </li>
                <li>
                    Mobile:
                    <a href style="color: aliceblue">9807536278</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h5>Address</h5>
            <ul style="list-style-type:none;">
                <li>
                    1st Floor, CG Landmark
                </li>
                <li>
                    Bharatpur-10, Chitwan
                </li>
                <li>
                    Nepal
                </li>
            </ul>
        </div>


    </div>
    <div>
        <h5>Follow Us</h5>
        <div class="social-logo">
            <a href="https://www.facebook.com/athleticpalace/">
                <img src="../assets/home/facebooklogo.png" width="40" height="40" />
            </a>
            <a href>
                <img src="../assets/home/twitterlogo.png" width="40" height="40" />
            </a>
            <a href>
                <img src="../assets/home/instagramlogo.png" width="40" height="40" />
            </a></div>
    </div>
    <div>
        <p>
            <small>Copyright @ 2020 Athletic Palace Nepal. All right reserved.</small>
        </p>
    </div>
</footer>