<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">

                    <!-- ##### Single Widget ##### -->
                    <div class="widget catagory mb-50">
                        <!-- Widget Title -->
                        <h5 class="widget-title mb-30"><b>Catagory</b></h5>
                        <ul class="sub-menu collapse show" id="clothing" style="list-style-type:none;">
                            <li [routerLink]="['/clothing','Men']">All Clothing</li>
                            <li [routerLink]="['/clothing', 'Men', 'T-shirt']">T-shirt</li>
                            <li href="" [routerLink]="['/clothing', 'Men', 'Hoodies & Sweats']">Hoodies &
                                Sweats</li>
                            <li [routerLink]="['/clothing', 'Men', 'Polo']">Polo</li>
                            <li [routerLink]="['/clothing', 'Men', 'Jacket']">Jackets
                            </li>
                            <li [routerLink]="['/clothing', 'Men', 'Pants']">Pants
                            </li>
                            <li [routerLink]="['/clothing', 'Men', 'Shorts']">Shorts
                            </li>

                        </ul>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <div class="widget price mb-50">
                        <!-- Widget Title -->
                        <h5 class="widget-title mb-30"><b>Filter by</b></h5>
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30"><b>Size</b></p>
                        <div>
                            <button class="button" *ngFor='let size of clothingSize' (click)="filterBySize(size)"
                                [ngStyle]="{'background-color':clothingFilterList[0].shoeSize == size?filterBySize(size): 'white'}">{{size}}</button>
                        </div>
                    </div>
                    <br>
                    <!-- ##### Single Widget ##### -->
                    <div class="widget brands mb-50">
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-30"><b>Brands</b></p>
                        <div>
                            <ul>
                                <li *ngFor='let brand of brands' (click)="filterByBrand(brand)"
                                    [ngStyle]="{'background-color':clothingFilterList[1].brand == brand?filterByBrand(brand): 'white'}">
                                    {{brand}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-4" *ngFor="let clothingItem of clothingItems">
                            <div class="container" [routerLink]="['/item','clothings', clothingItem.id]">
                                <img class="image" src={{clothingItem.imageUrl[0]}} alt="First slide">
                                <a style="color: black; font-size: large;">{{clothingItem.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>